<%= form_for @club, html: { multipart: true} do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> no se ha podido guardar el club:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field" hidden>
    <%= f.label :longitude, 'Longitud' %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field" hidden> 
    <%= f.label :latitude, 'Latitud' %><br>
    <%= f.text_field :latitude %>
  </div>
    <div class="field">
    <%= f.label :address, 'Dirección' %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :image, 'Imagen' %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit action + ' club/comunidad' %>
  </div>
<% end %>



