
<p id="notice"><%= notice %></p>

<%= image_tag @club.image.url(:medium) %>

<p>
  <strong>Nombre:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Descripci칩n:</strong>
  <%= @club.description %>
</p>
<p>
  <strong>Direcci칩n:</strong>
  <%= @club.address %>
</p>

<% if current_user.admin && current_user.sign_in_count = 1 %>
 <button><%= link_to 'A침adir pistas', new_court_path %></button>
 <button><%= link_to 'A침adir usuarios', new_user_path %></button>
  <% end %>
  <br>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<% if current_user.admin %> 
<%= link_to 'Editar', edit_club_path(@club) %> |
<% end %>
<%= link_to 'Volver', clubs_path %>
