<p id="notice"><%= notice %></p>


<p>
  <strong>Pista reservada:</strong>
  <%= @user_courts[0].type_of_court %>
</p>


<p>
  <strong>Fecha de reserva:</strong>
  <%= @booking.date_booked %>
</p>


<p>
  <strong>Nombre de la comunidad o club:</strong>
  <%= @user_courts[0].club.name %>
</p>


<%= link_to 'Editar', edit_booking_path(@booking) %> |
<%= link_to 'Volver', bookings_path %>
