<p id="notice"><%= notice %></p>


<h3>
	<%= @booking.court.club.name %>
</h3>

<p>
  <strong>Pista reservada:</strong>
  <%= @booking.court.type_of_court.capitalize %>
</p>

<p>
  <strong>Fecha de reserva:</strong>
  <%= @booking.date_booked %>
</p>

<% if @booking.court.name %>
<p>
  <strong>Nombre de la pista:</strong>
  <%= @booking.court.name %>
</p>
<% end %>

<p>
  <strong>Hora reservada:</strong>
  <%= @show_time_booked %>
</p>


<%= link_to 'Editar', edit_booking_path(@booking) %> |
<%= link_to 'Todas las reservas', bookings_path %>
