<% if current_user.admin %>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p> Añadir usuarios </p>

  <div class="field">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :last_name, 'Apellidos' %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Correo Electrónico' %><br>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit action + ' usuario' %>
  </div>
<% end %>

<% end %>