<h1>Listado de pistas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo de pista</th>      
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @courts.each do |court| %>
      <tr>
        <td><%= court.name %></td>
        <td><%= court.type_of_court %></td>
        <td><%= link_to 'Ver más', court %></td>
        <td><%= link_to 'Editar', edit_court_path(court) %></td>
        <td><%= link_to 'Eliminar', court, method: :delete, data: { confirm: '¿Seguro que quieres eliminarlo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir nueva pista', new_court_path %>

