<% if current_user.admin  %>

  <h2> Enviar invitaciones</h2>

  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
    <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <p><%= f.label field %><br />
    <%= f.text_field field, email: "user[email][]", placeholder: "Email", required: true  %></p>
  <div class="field" hidden>
    <p><%= f.label :club_id %>
    <%= f.text_field :club_id, :value => current_user.clubs[0].id %></p>
  </div>

              <div id="createNewTextbox" >
              </div>
              	<a id="btnLinkCreate" href="#" onClick="create_new();">
          		+ Añadir más
             		</a>
  <% end -%>

    <p><%= f.submit 'Enviar invitación'%></p>
  <% end %>

<% end %>