<!DOCTYPE html>
<html>
<head>
  <title>M10 - Applicación web para reservar pistas de deportes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div class="header-background">
    <div class="container">
      <header class="navbar navbar-inverse centered">
      <%= link_to image_tag("logo_M10_w.png", :alt => "rss feed"), '/', id: "logo" %>
      <div class="main-menu">
        <nav>
          <ul class="nav navbar-nav navbar-left ">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "Reservas",   '/bookings' %></li>
            <li><%= link_to "Faqs",   '#' %></li>
            <% if user_signed_in? %>
            <li><%= link_to 'Salir', destroy_user_session_path, method: 'DELETE' %></li>
          <% else %>
            <li><%= link_to 'Registrar (comunidad/club)', new_user_registration_path %></li><li>
              <%= link_to 'Acceder', new_user_session_path %>
              </li>
          <% end %> 
        </ul>
        </nav>
      </div>
    </header>
  </div>
  </div>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
