<!DOCTYPE html>
<html>
<head>
  <title>M10 - Web app for booking tennis and padel courts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div class="header-background">
    <div class="container">
      <header class="navbar navbar-inverse centered">
      <%= link_to image_tag("logo_M10_w.png", :alt => "rss feed"), '/', id: "logo" %>
      <div class="main-menu">
        <nav>
          <ul class="nav navbar-nav navbar-left ">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
  </div>
  <div class="container">

    <%= render partial: "layouts/sign_in"%>

    <%= yield %>

  </div>
</body>
</html>
